.modal-overlay {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.modal-content {
  background: white;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.btn {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  background-color: #187dc3;
  color: white;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}

.btn-cancel {
  background: #aaa;
  color: white;
  transition: all 0.3s ease-in-out;
}
.btn-cancel:hover {
  background: #999;
}

.btn-save {
  background: #187dc3;
  color: white;
}
.btn-save:hover {
  background: #187dc3;
}
